<h1>Resend confirmation instructions</h1>

<p>Enter your email address below if you didn't receive your confirmation instructions</p>

<%= bootstrap_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
  <%= f.submit "Resend instructions" %>
  
<% end %>
