<div class="content-default-wrapper">
  <div class="content-landing">
    <h1>Bookmark <span class="glyphicon glyphicon-bookmark"></span> Manager</h1>
    <p>Simple and quick storing and managing of Website links.</p>
  </div>
</div>

<div class="content-landing-form-wrapper">
  <div class="content-default">
    <h1>Login</h1>
  </div>
</div>

<div class="content-landing-form-wrapper">
  <div class="content-default">
    <h1>Register</h1>
  </div>
</div>