<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Email Adresse:</h6>
    </div>
    <div class="panel-body">
      <%= @user_profile.user.email %>
    </div>
    <div class="panel-heading">
      <h4>Background image:</h4>
    </div>
    <div class="panel-body">
      <%= @user_profile.background_image %>
    </div>
  </div>