<div class="content-default-wrapper">
  <div class="content-default">
    <h1>Manage Tags</h1>

    <table class="tag-table">
      <tbody>
        <% @tags.each do |tag| %>
          <tr>
            <td>
              <%= link_to tag.title, edit_tag_path(tag) %>
            </td>
            <td>
              <%= link_to tag, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <span class="glyphicon glyphicon-trash"></span>
              <% end %>    
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'Cancel', bookmarks_path, class: 'btn btn-default' %>
    <%= link_to 'New Tag', new_tag_path, class: 'btn btn-primary' %>
  </div>
</div>