<%= devise_error_messages! %>

<div class="col-md-6">
  <div class="content-default-wrapper">
    <div class="content-default">
      <%= render 'users/registrations/new' %>
    </div>
  </div>
</div>
<div class="col-md-6">
  <div class="content-default-wrapper">
    <div class="content-default">
      <%= render 'new' %>
    </div>
  </div>
</div>