<div class="col-md-6">
  <p> render 'users/registration/new' </p>
</div>
<div class="col-md-6">
  <div class="content-default-wrapper">
    <div class="content-default">
      <%= render 'new' %>
    </div>
  </div>
</div>