<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <%= stylesheet_link_tag 'mails', media: 'all' %>
</head>
<body>
  <main>
   <%= yield %>
  </main>
</body>
</html>

