<!DOCTYPE html>
<html>
<head>
  <title>BookmarkManager</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<style>
  body {
    <% if !user_signed_in? %> 
    background-image: none;
    <% else %>
    background-image: url("/images/default.png");
    <% end -%>
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }
</style>
<%= yield %>

</body>
</html>
